*{
    /* border: 1px solid red; */
}
.Card-Header{
    position: relative;
    font-weight: bold;
    background: white;
    padding: 3px;
    line-height: 18px;
}
.Project-Logo{
    max-width: 95px;
    max-height: 85px;
    margin-top: 10px;
}
.Card-Body{
    position: relative;
    background: white;
}
.Card-Container{
    overflow: hidden;
    width: 215px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    -webkit-transition: box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    height: 100%;
}

.Card-Container:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}
.Card-Real-Link:hover{
    text-decoration: none;
    color:black;
}
.Card-Real-Link:visited{
    text-decoration: none;
    color:black;
}
.Card-Real-Link:link{
    text-decoration: none;
    color:black;
}
.Card-Real-Link:active {
    text-decoration: none;
    color:black;
}
.Card-Description{
    position: relative;
    padding: 10px;
}
 .Card-Link{
    position: relative;
    padding:10px;
    color:#0F3CEF;
}
.Card-Title{
    margin-top: 10px;
}
